<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div ng-controller="myController">
            
            <h1>Click Me to Fetch Data</h1>
            <input type="button" name="clickMe" value="click me" ng-click="alertClick()">
            <ul>
               <li ng-repeat="value in values">{{user.name}}</li>
            </ul>
            <h2>{{value}}</h2>

        </div>
    </div>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
</body>
</html>